<strong> Hey, {{ student }}</strong>
<p>Wellcome to the team. Your enrollment was made. See details below:</p>
<p>
  <strong>Plan</strong> {{ plan }} <br />
  <strong>Initial date:</strong> {{ start_date }} <br />
  <strong>End Date</strong> {{ end_date }} <br />
  <strong>Price</strong> {{ price }}
  <br />
  <strong>We cant wait to start to get fit with you.</strong>
</p>
